<style>form div {padding: 10px;}</style>

<form action="/contacts" method="post">
  <%= erb :'contacts/_form_fields', layout: false %>

  <!-- Layout can only be used for the fields that are the same for the whole website (works with 'yield on the homepage') -->
  <div>
    <input name="commit" type="submit" value="Create Contact">
  </div>
</form>

<!-- Most browsers only support get and post -> Need for hidden field 'method' -->
